.bgImage1 {
    height: 50vh;
    background-image: url("https://www.allblacks.com/images/dnaImages/AllBlacks_2017_2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.bgImage2 {
    height: 50vh;
    background-image: url("https://www.kaieteurnewsonline.com/images/2015/10/The-New-Zealand-team-celebrate-as-Richie-McCaw-of-New.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }