.bgImage {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.bgImage1 {
    background-image: url("Images/Assets/ab2017_cr.jpg")
    }

.bgImage2 {
    background-image: url("Images/Assets/rwc2015_cr.jpg")
    }

.bgImage3 {
    background-image: url("Images/Assets/scrum_cr.jpg")
    }

.bgImage4 {
    background-image: url("Images/Assets/tackle_cr.jpg")
    }

.bgImage5 {
    background-image: url("Images/Assets/haka_cr.jpg")
    }

.bgImage6 {
    background-image: url("Images/Assets/try_cr.jpg")
    }

.bgImage7 {
    background-image: url("Images/Assets/cheer_cr.jpg")
    }

.bgImage8 {
    background-image: url("Images/Assets/backs_cr.jpg")
    }

img:hover {
    outline: solid 2px  #adebeb; 
}